* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
}
body {
  background-color: rgb(247, 239, 175);
  position: relative;
}
.nav-div {
  background-color: rgb(170, 48, 226);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}
nav {
  display: flex;
  justify-content: right;
}
nav a {
  color: black;
  font-weight: semi-bold;
  margin: 0px 20px;
  padding: 10px;
  text-decoration: none;
  font-family: sans-serif;
  /* padding: 10px; */
}
nav a:hover {
  background-color: rgb(208, 31, 31);
  display: inline-block;
  color: white;
}
.product-container {
  width: 800px;
  margin: 0 auto;
  margin-top: 40px;

  /* background-color: rgb(243, 241, 241); */
  background-color: white;
  border: 1px solid black;

  padding: 20px;
}
.saffron {
  width: 100%;
}
.promo-code {
  background-color: rgb(170, 48, 226);
  border: 2px solid black;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  margin-top: 15px;
}
.price {
  margin: 5px;
}
.row {
  display: flex;
  gap: 15px;
  justify-content: center;
  width: 700px;
  margin: 0 auto;
}
.product-detail,
.product-image {
  width: 50%;
}
h2 {
  margin: 10px 0;
}
.related-product {
  background-color: rgb(170, 48, 226);
  padding: 10px;
  border: 2px solid black;
  position: relative;
}
.related-product img {
  width: 155px;
  object-fit: fill;
  justify-content: center;
  align-items: center;
  /* height: 100px; */
}
.related-product-name {
  background-color: rgb(237, 233, 233);
  padding: 10px;
  visibility: hidden;
  position: absolute;
  text-align: center;
}
.related-product:hover .related-product-name {
  visibility: visible;
  bottom: 0;
  right: auto;
  left: auto;
  width: 155px;
}
footer {
  background-color: rgb(170, 48, 226);
  font-family: sans-serif;
  text-align: center;
  padding: 10px;
  font-weight: semi-bold;
}
li {
  list-style: disc;
}
.description {
  margin-bottom: 20px;
}
.collaboration-img-div {
  position: relative;
  font-family: sans-serif;
}
.collaboration-img {
  width: 750px;
  height: 400px;
  object-fit: cover;
  /* height: 400px; */
}

.caption {
  visibility: hidden;
  position: absolute;
}
.collaboration-img-div:hover .caption {
  visibility: visible;
  right: 0;
  top: 0px;
  padding: 5px;
  background-color: rgb(170, 48, 226);
}
.hazara {
  visibility: hidden;
  position: absolute;
}
.collaboration-img-div:hover .hazara {
  visibility: visible;
  bottom: 110px;
  left: 100px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  rotate: -15deg;
}
.auzbak {
  visibility: hidden;
  position: absolute;
}
.collaboration-img-div:hover .auzbak {
  visibility: visible;
  top: 60px;
  left: 150px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  rotate: 30deg;
}
.baloch {
  visibility: hidden;
  position: absolute;
}
.collaboration-img-div:hover .baloch {
  visibility: visible;
  top: 50px;
  right: 320px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  rotate: -70deg;
}
.pashton {
  visibility: hidden;
  position: absolute;
}
.collaboration-img-div:hover .pashton {
  visibility: visible;
  top: 130px;
  right: 130px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  rotate: -10deg;
}
.aimaq {
  visibility: hidden;
  position: absolute;
}
.collaboration-img-div:hover .aimaq {
  visibility: visible;
  bottom: 70px;
  right: 250px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  rotate: 50deg;
}
.tajik {
  visibility: hidden;
  position: absolute;
}
.collaboration-img-div:hover .tajik {
  visibility: visible;
  bottom: 40px;
  right: 370px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  rotate: 100deg;
}
.cities {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}
.cities-div {
  padding: 10px;
  justify-content: center;
  text-align: center;
  font-size: 12px;
}
.short-description {
  margin-top: 5px;
}
.cities-name {
  font-weight: bold;
}
h1,
h2 {
  margin-bottom: 50px;
  margin-top: 20px;
}
